h1{ /*select h1 element*/
    color: red; /*set text color as red*/
}
.completed{ /*select elements with a class of 'completed'*/
    color: gray; /*set text color to gray*/
    text-decoration: line-through; /*underline text*/
}